<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Achivements for <%= name %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/badges.css">
</head>
<body>
    <div class="body-container">
        <h1 class="badges-header-text">Badges</h1>
        <div class="badges-container">
<!--            <h1 class="badges-header-text">Badges</h1>-->

            <div class="row">
                <p class="badges-title-text">User Overview</p>
            </div>
            <div class="container-wrap">
                <div class="user_overview_container">
                    <div class="badges-layout">
                        <img src="badge_images/badges/user_overview/2627460_number_rank_third_three_icon.png" alt="" class="w-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/user_overview/2236044_customer satisfaction_feedback_five pointed_review_stars_icon.png" alt="" class="u-image">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="badges-title-text">Trips</p>
            </div>
            <div class="row">
                <p class="badges-subtitle-text">Rides</p>
            </div>
            <div class="container-wrap">
                <div class="rides_container">
                    <div class="badges-layout">
                        <img src="badge_images/badges/rides/7rides.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/rides/60rides.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/rides/100rides.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/rides/300rides.png" alt="" class="u-image">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="badges-subtitle-text">Eats</p>
            </div>
            <div class="container-wrap">
                <div class="eats_container">
                    <div class="badges-layout">
                        <img src="badge_images/badges/eats/5eats.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/eats/30eats.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/eats/100eats.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/eats/300eats.png" alt="" class="u-image">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="badges-title-text">Cities</p>
            </div>
            <div class="container-wrap">
                <div class="cities_container">
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/1058153_bridge_california_gate_golden_landmark_icon.png" alt="" class="u-image">
                    </div>                         
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/582512_desert_egypt_giza_landmark_pyramid_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/582510_australia_house_landmark_opera_sight_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/1058138_castle_china_fortification_great_landmark_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/582513_india_landmark_mahal_monument_taj_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/cities/582514_demark_ecology_grinder_holland_mill_icon.png" alt="" class="u-image">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="badges-title-text">Foods</p>
            </div>
            <div class="container-wrap">
                <div class="foods_container">
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384531_food_green_healthy_salad_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384540_food_japanese_sashimi_sushi_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384543_cuon_goi_roll_vietnam_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384546_chinese_dumpling_dumplings_steamed_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384558_food_mexican_taco_tacos_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384561_food_pizza_slice_icon.png" alt="" class="u-image">
                    </div>
                    <div class="badges-layout">
                        <img src="badge_images/badges/foods/5384562_italy_pasta_spaghetti_icon.png" alt="" class="u-image">
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>