<div class="eats">
    <p>You made <%= eatsTripCount %> eats orders on UberEats in 2020. Your favourite cusine is <%= favCusine %></p>
    <p>And you gave thumb ups to couries in <%= thumbUpCount %> eats orders!</p>
</div>