<div class="rides">
    <p>You took <%= ridesTripCount %> rides with Uber in 2020, <mark><%= poolTripsCount %></mark> are Uber Pools</p>
    <p>With Uber you have been to <%= cities.length %> cities, <%= cities %></p>
</div>
