* {box-sizing: border-box}
body {
    font-family: Verdana, sans-serif; 
    margin:0;
    overflow: hidden;
}

.mySlides {
    display: none;
    height: -webkit-fill-available;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: fixed;
  margin: auto;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: 40%;
    /* margin-top: -22px; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 100%;
    /* z-index: 1; */
    text-align: center;
    padding-top: 90%;
    opacity: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.topeasein {
    -webkit-animation-name: topeaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: topeaseinAnimate;
    animation-duration: 1.5s;
}

.lefteasein {
    -webkit-animation-name: lefteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: lefteaseinAnimate;
    animation-duration: 1.5s;
}

.righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
}

.scale {
    -webkit-animation-name: scaleAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: scaleAnimate;
    animation-duration: 1.5s;
}

.rides {
    background-image: url("../img/ridesbg.png");
    background-size: contain;
    height: inherit;
}

.ridesText {
    padding-top: 55%;
    padding-left: 10%;
    padding-right: 10%;
}


.ridesText2 {
    padding-left: 10%;
    padding-right: 10%;
}

.ridesImg {
    width: 50%;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@keyframes topeaseinAnimate{
    0% {transform: translateY(-500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes topeaseinAnimate{
    0% {transform: translateY(-500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes lefteaseinAnimate{
    0% {transform: translateX(-500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes lefteaseinAnimate{
    0% {transform: translateX(-500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@keyframes righteaseinAnimate{
    0% {transform: translateX(500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes righteaseinAnimate{
    0% {transform: translateX(500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@keyframes scaleAnimate{
    0% {transform: scale(0.3); opacity: 0.4;}
    100% {opacity: 1;}
}

@-webkit-keyframes scaleAnimate{
    0% {transform: scale(0.3); opacity: 0.4;}
    100% {opacity: 1;}
}