* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Bowlby One SC", "lucida grande", Verdana, sans-serif; 
    margin:0;
    overflow: hidden;
}

a:focus {
    background: transparent;
}

.mySlides {
    display: none;
    height: -webkit-fill-available;
}

img {
    vertical-align: middle;
}

mark {
    background-color: transparent;
    font-size: x-large;
    color: #9c840b;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: fixed;
  margin: auto;
  height: 100%;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    /* top: 50%; */
    width: 40%;
    /* margin-top: -22px; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 100%;
    /* z-index: 1; */
    text-align: center;
    padding-top: 90%;
    opacity: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.topeasein {
    -webkit-animation-name: topeaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: topeaseinAnimate;
    animation-duration: 1.5s;
}
.bottomeasein {
    -webkit-animation-name: bottomeaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: bottomeaseinAnimate;
    animation-duration: 1.5s;
}

.lefteasein {
    -webkit-animation-name: lefteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: lefteaseinAnimate;
    animation-duration: 1.5s;
}

.righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
    /* animation-delay: 1s;
    animation-fill-mode: both; */
}

.scale {
    -webkit-animation-name: scaleAnimate;
    -webkit-animation-duration: 1.5s;
    animation-name: scaleAnimate;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.plantFade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.repeatFade {
    -webkit-animation-name: fade2;
    -webkit-animation-duration: 2.5s;
    animation-name: fade2;
    animation-duration: 2.5s;
    /* animation-delay: 2.5s;
    animation-fill-mode: both; */
    animation-iteration-count:infinite;
}

.rides {
    background-image: url("../img/ridesbg.png");
    background-size: contain;
    height: inherit;
}

.ridesText {
    padding-top: 59%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 100;
    color: #6f3943;
}


.ridesText2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3px;
    font-weight: 100;
    color: #6f3943;
}

.ridesText3 {
    padding-top: 75%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 100;
    color: #6f3943;
    font-size: x-large;
}

.ridesImg {
    width: 50%;
    position: absolute;
    bottom: 9%;
    left: 7%;
}

.plants {
    width: 411px;
    height: 731px;
    position: absolute;
}

.plants2 {
    width: 411px;
    height: 731px;
    position: absolute;
}

.tree {
    width: 411px;
    height: 731px;
    position: absolute;
    z-index: 0;
}

.rides2Text {
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    padding-top: 73%;
    padding-right: 40%;
    padding-left: 11%;
    font-size: x-large;
    font-weight: 500;
    line-height: 160%;
    color: #41555F;
}

.rides2mark {
    background-color: transparent;
    font-size: x-large;
    color: #2B7B2F;
}

.rides2bg {
    width: 411px;
    height: 731px;
    position: absolute;
    z-index: -1;
}

.rides3Text {
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    padding-top: 73%;
    padding-right: 10%;
    padding-left: 40%;
    font-size: x-large;
    font-weight: 500;
    line-height: 160%;
    color: #24296D;
}


.rides3mark {
    background-color: transparent;
    font-size: xx-large;
    color: #e0a228;
}

.road2righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.6s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

.road3righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1.2s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

.eats3Text {
    position: absolute;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    padding-top: 18%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: x-large;
    font-weight: 500;
    line-height: 170%;
    color: #41555F;
}

.eats3mark {
    background-color: transparent;
    font-size: xx-large;
    color: #ed956e;
}

.eats1Text {
    position: absolute;
    /* text-align: center; */
    font-family: 'Abril Fatface', cursive;
    padding-top: 43%;
    padding-right: 20%;
    padding-left: 10%;
    font-size: larger;
    font-weight: 500;
    line-height: 140%;
    color: black;
}

.eats1Text2 {
    position: absolute;
    /* text-align: center; */
    font-family: 'Abril Fatface', cursive;
    padding-top: 60%;
    padding-right: 20%;
    padding-left: 10%;
    font-size: larger;
    font-weight: 500;
    line-height: 140%;
    color: black;
}

.eats1lefteasein {
    -webkit-animation-name: lefteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.4s;
    animation-name: lefteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.eats1righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.6s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
}

.eats2lefteasein {
    -webkit-animation-name: lefteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
    animation-name: lefteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.eats2righteasein {
    -webkit-animation-name: righteaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1.4s;
    animation-name: righteaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 1.4s;
    animation-fill-mode: both;
}

.scaleBig {
    -webkit-animation-name: scaleBigAnimate;
    -webkit-animation-duration: 1.8s;
    animation-name: scaleBigAnimate;
    animation-duration: 1.8s; 
}

.eats2mark {
    background-color: transparent;
    font-size: x-large;
    color: #84acefeb;
}

.eats2Text {
    position: absolute;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    padding-bottom: 10%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: larger;
    font-weight: 500;
    line-height: 140%;
    color: #1c246ef0;
    top: 83%;
    z-index: 3;
}

.eats2bottomeasein {
    -webkit-animation-name: bottomeaseinAnimate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1.9s;
    animation-name: bottomeaseinAnimate;
    animation-duration: 1.5s;
    animation-delay: 1.9s;
    animation-fill-mode: both;
}

.indexText1 {
    position: absolute;
    text-align: center;
    font-family: 'Nunito','Architects Daughter', cursive;
    margin-top: 90%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: x-large;
    font-weight: 900;
    line-height: 140%;
    color: #394e58;
}

.indexText2 {
    position: absolute;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    padding-top: 160%;
    /* padding-right: 20%; */
    /* padding-left: 20%; */
    font-size: 20px;
    font-weight: 100;
    /* line-height: 140%; */
    color: #ffffffde;
    height: -webkit-fill-available;
    width: 100%;
}

.uber {
    position: absolute;
    height: 181px;
    width: 181px;
    margin-left: 115px;
    margin-top: 98px;
}

.spin {
    animation: spin 10s steps(150) infinite;
}
@keyframes spin {
    from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
}
/* .plantImg {
    width: 33%;
} */

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@-webkit-keyframes fade2 {
    from {opacity: 0.1} 
    to {opacity: 1}
}
  
@keyframes fade2 {
    from {opacity: 0.1} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@keyframes topeaseinAnimate{
    0% {transform: translateY(-500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes topeaseinAnimate{
    0% {transform: translateY(-500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes bottomeaseinAnimate{
    0% {transform: translateY(500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes bottomeaseinAnimate{
    0% {transform: translateY(500px); opacity: 0.4;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes lefteaseinAnimate{
    0% {transform: translateX(-500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes lefteaseinAnimate{
    0% {transform: translateX(-500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@keyframes righteaseinAnimate{
    0% {transform: translateX(500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@-webkit-keyframes righteaseinAnimate{
    0% {transform: translateX(500px) scale(0.3); opacity: 0.4;}
    100% {transform: translateX(0px); opacity: 1;}
}

@keyframes scaleAnimate{
    0% {transform: scale(0.3); opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes scaleAnimate{
    0% {transform: scale(0.3); opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scaleBigAnimate{
    0% {transform: scale(0.3); opacity: 0;}
    80% {transform: scale(1.5); opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes scaleBigAnimate{
    0% {transform: scale(0.3); opacity: 0;}
    80% {transform: scale(1.5); opacity: 1;}
    100% {opacity: 1;}
}

/* @keyframes repeatScaleAnimate{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes repeatScaleAnimate{
    0% {opacity: 0;}
    100% {opacity: 1;}
} */